# Galaxis POC — Backend Laravel
APP_NAME=Galaxis
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=app-db
DB_PORT=5432
DB_DATABASE=galaxis
DB_USERNAME=galaxis
DB_PASSWORD=

REDIS_CLIENT=predis
REDIS_HOST=app-redis
REDIS_PORT=6379
REDIS_PASSWORD=

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=sync

# ---- OIDC / Keycloak
KC_REALM=galaxis
KC_BASE_INTERNAL=http://keycloak:8080/iam
KC_BASE_PUBLIC=http://localhost:8080/iam
KC_CLIENT_ID=galaxis-portal
JWKS_CACHE_TTL=300
